.OptionData {
  padding: 8px 8px 8px 25px;
  border: solid 1px #ddd;
  word-wrap: break-word;
  color: #0D3A5A;
  font-family: Arial;
  font-size: 13px;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
  word-break: break-all;
  word-wrap: break-word;
}
