.ProConData {
  padding: 5px 10px;
  vertical-align: top;
  border-bottom: solid 1px #d3d3d3;
  border-left: solid 1px #d3d3d3;
  word-wrap: break-word;
  cursor: pointer;
  width: 30%;
  height: auto;
  border-top: solid 1px #000000;
  border-bottom: solid 1px #000000;
  border-right: solid 1px #000000;
}