body {
    font-family: Arial;
    background-color: white;
    overflow-y: hidden;
}

#freezed {
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.agenda-table table {
    border-collapse: collapse;
    font-size: 10pt;
}

.agenda-table th {
    padding: 10px;
    background-color: #F2F2F2;
    text-align: left;
}

.short {
    min-width: 80px;
}

.med {
    min-width: 160px;
}

.index {
    max-width: 10px;
    padding-right: 8px;
    font-weight: bold;
    text-align: center;
    color: #666;
}

.agenda-table td {
    padding: 12px;
    border-bottom: 1px dotted #999;
}

.notes {
    font-size: 9pt;
}

.grey-text {
    color: #666;
}

.agenda-table tbody tr{
    background-color: white;
    height: 62px;
}



.agenda-table tbody tr:hover .on-hover, tr:active .on-hover {
    display: block;
}

.agenda-table tbody tr:hover .off-hover, tr:active .off-hover {
    display: none;
}

.agenda-table tbody tr .cursor-pointer {
    cursor: pointer;
}

.topic {
    font-weight: bold;
}

.link-text {
    color: #00679E;
}

.on-hover {
    display: none;
}

.time-input {
    width: 60px !important;
}

.notes {
    width: 240px;
    max-width: 240px;
}

.input-owner {
    width: 150px;
}

.img-circle {
    width: 48px;
    height: 48px;
}

li {
    list-style-type: none;
}

ul {
    padding: 0 !important;
}

.row-type-none {
    background-color: white !important;
}

.row-type-grey {
    background-color: #E5E5E5 !important;
}

.row-type-blue {
    background-color: #E7F1F7 !important;
}

#table div {
    font-family: Arial;
}

.table-list {
  list-style: none;
  margin:0;
  width: 100%;
  float: left;
  padding:0;
  font-size: 14px;
}

.list-table-row {
    display: table-row;
    border-bottom: 1px dotted #999;
}

.div-table-cell {
    display: table-cell;
    padding: 10px;
}

.index-col {
    width: 2%;
    text-align: center;
    padding: 6px !important;
}

.time-col {
    width: 12%;
    text-align: center;
}

.duration-col {
    width: 12%;
    text-align: center;
}

.main-col {
    width: 46%;
}

.presenter-col {
    width: 26%;
}

.move-col {
    width: 2%;
    text-align: center;
}

.trash-col {
    width: 2%;
    text-align: center;
}

.topic-cell {
    padding: 0;
    font-weight: bold;
}

.desc-cell {
    padding: 6px 0 0 8px;
}

.th {
    font-weight: bold;
    background-color: #F2F2F2;
}

#table-head {
    display: table-row;
}

.list-table-row:hover {
    background-color: #F5FCFF;
    cursor: move;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.list-table-row:active {
    background-color: #F5FCFF;
    cursor: grabbing;
    cursor: -webkit-grabbing; 
    cursor: -moz-grabbing;
}

.list-table-row > div {
    border-bottom: 1px dotted #999;
}